<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Article Summarizer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ArticleSharing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ArticleSummarizerKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>SummarizerExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>SummarizerShareExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>87A4AE1F1C9354CB000D5E4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87A4AE331C9354CB000D5E4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87B8403A1C9F68770070E6EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87B840431C9F68790070E6EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87D26D161C9F3E94000DE9E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87D26D271C9F431A000DE9E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
